<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todas as Consultas.</title>

  <!-- Boostrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <form action="">
      <input type="search" name="search" id="search">
      <button type="submit">Pesquisar</button>
    </form>
    <h1>Todas as consultas</h1>
    <div>
      <% result.forEach(a => { %>
        <div class="border">
          <p><%= a.name %></p>
          <p><%= a.cpf %></p>
          <p><%= a.email %></p>
          <p><%= a.describe %></p>
          <p><%= a.date %></p>
          <p><%= a.time %></p>
        </div>

      <% }) %>
    </div>
</body>
</html>